.container{
    padding-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.card {
    overflow: hidden;
}

.vmodal.open .modal-window,
.vmodal.open .modal-overlay {
    opacity: 1;
    z-index: 1000;
}
.vmodal.open .modal-window {
    transform: translateY(200px);
}
.vmodal.open .modal-overlay {
    background-color: rgba(0,0,0,0.5);
}

.vmodal.hide .modal-window,
.vmodal.hide .modal-overlay {
    opacity: 1;
    z-index: 1000;
}
.vmodal.hide .modal-window {
    transform: translateY(-200px);
}
.vmodal.hide .modal-overlay {
    background-color: rgba(0,0,0,0);
}


.modal-window, .modal-overlay{
    opacity: 0;
    z-index: -1;
}

.modal-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    transition: background-color 200ms ease-in;
}
.modal-window{
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform 200ms ease-in;
    width: 600px;
    border-radius: 5px;
    background-color: aliceblue;
}

.modal-header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(194, 198, 202);
}

.modal-title{
    font-size: 1.5rem;
}

.modal-close{
    cursor: pointer;
}

.modal-body{
    padding: 10px;
}
.modal-body p {
    margin: 0 0 5px;;
}

.modal-footer{
    padding: 5px 10px;
}