body{
	margin: 0px;
}

ul {
	list-style: none;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
	grid-template-areas: 'header' 'main' 'footer';

}
.header {
	background-color: #573cf0;
	padding: 15px;
	grid-area: header;
	display: grid;
	align-items: center;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}
.header__logo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #fff;
	grid-column: 2/3;
}
.header__menu {
	grid-column: 3/4;
}
.header__list {
	font-size: 25px;
	display: none;
}
.header__link {
	color: #fff;
	text-decoration: none;
}
.header__burger {
	width: 20px;
	height: 20px;
	background-color: #fff;
	float: right;
}

.main {
	padding: 30px 15px;
}

.sidebar {
	background-color: #e827cb;
	padding: 15px 0px;
}
.sidebar__menu {}

.sidebar__list {
	padding: 0px 0px 0px 20px;
}

.sidebar__list li {
	margin: 0px 0px 30px 0px;
}
.sidebar__link {
	color: #fff;
	font-size: 20px;

}

.content__title {
	background-color: #ff9a17;
	color: #fff;
	margin: 0px;
	padding: 20px 0px;
}
.content__gallery {
	margin: 0px 0px 30px 0px;
}


@media (min-width: 992px) {
	.main{
		display: grid;
		grid-area: main;
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	}
	.sidebar{
		grid-column: 2/3;
		padding: 30px 15px;
	}
	.content {
		grid-column: 3/4;
		padding: 0px 0px 0px 30px;
	}

	.header__list {
		display: grid;
		grid-auto-flow: column;
		justify-items: end;
	}
	.header__burger{
		display: none;
	}
}


.gallery {}
.gallery__title {
	background-color: #ff9a17;
	color: #fff;
	padding: 20px 0px;
}

.gallery__items {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery__item{
	position: relative;
	padding: 0px 0px 85% 0px;
}

.gallery__item img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}


@media(min-width: 560px){
	.gallery__item_big {
		grid-column: span 2;
		grid-row: span 2;
	}
}

.content__products {}
.products {}
.products__title {}

.products__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column-gap: 30px;
	grid-row-gap: 50px;
	/*grid-auto-rows: 1fr;*/
}

.products__item {
	display: grid;
	grid-auto-flow: row;
	grid-template: auto 25px 1fr minmax(20px, 40px) / 1fr;
}

.products__image {
	position: relative;
	padding: 0px 0px 90% 0px;
	margin: 0px 0px 20px 0px;
}

.products__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.products__name {
	font-size: 20px;
	line-height: 24px;
	color: #000;
}

.products__description{
	background-color: aliceblue;
	margin: 0px;
	padding: 10px 0px;
}
.products__button {
	text-transform: uppercase;
	background-color: #41ba00;
	color: #000;
	padding: 0px 10px;
	letter-spacing: 2px;
	justify-self: start;
}
.footer {
	grid-area: footer;
	display: grid;
	align-items: center;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	background-color: #4421c2;
	color: #fff;
	font-size: 20px;

}
.footer__copy {
	grid-column: 2/3;
}
.footer__text {
	grid-column: 3/4;
	text-align: right;
}