.table {
    table-layout: auto;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 2px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
}

.table-row-cell  {
    background: #F5D7BF;
    padding: 5px;
}

.table-header-cell {
    font-size: 18px;
    padding: 5px;
}

